@model IEnumerable<Employee_CRUD.Models.Employee>

@{
    ViewData["Title"] = "GetAllEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllEmployees</h1>

<p>
    <a asp-action="CreateEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditEmployee", "Employee",new {  id=item.Id }) |
                    @Html.ActionLink("Details", "Details", "Home",new {  id=item.Id } ) |
                    @Html.ActionLink("Delete", "DeleteEmployee", "Employee",new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
